/* Estrutura principal */

.conteudo-principal {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
}

.secao-playlists {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cabecalho secao playlists*/

.cabecalho-secao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titulo-secao {
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 2px solid var(--amarelo-destaque, #f1c40f);
    padding-bottom: 8px;
    white-space: nowrap;
}

.botao-criar {
    background: transparent;
    border: 1px solid var(--cor-botao);
    color: var(--cor-botao);
    border-radius: var(--raio-borda, 8px);

    padding: 6px 16px;
    font-family: inherit;
    font-size: 0.85em;

    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    
    text-align: left;
    line-height: 1.2;
    transition: background-color 0.2s ease;
    width: 10%
}

.botao-criar:hover {
    background-color: rgba(135, 187, 162, 0.15);
}

.navegacao a.ativo {
    color: #87BBA2;
}

.icone-mais {
    font-size: 3em; 
    font-weight: 300;
    line-height: 0;
    transform: translateY(-2px);
}


/* CARROSSEL E BOTOES LATERAIS */

.carrossel-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.carrossel-playlists {
    display: flex;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    
    
    scrollbar-width: none; /* Esconder barra de rolagem */
    -ms-overflow-style: none;
}

.carrossel-playlists::-webkit-scrollbar {
    display: none;
}

.btn-carrossel {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--cor-texto);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.btn-carrossel:hover {
    background-color: var(--cor-botao);
    color: #000;
    border-color: var(--cor-botao);
    transform: translateY(-50%) scale(1.1);
}

.btn-prev {
    left: -20px;
}

.navegacao a.ativo {
    color: #87BBA2;
}


.btn-next {
    right: -20px;
}

/* CARDS DE PLAYLIST */

.card-playlist {
    flex: 0 0 calc((100% - (4 * 30px)) / 5);
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}

.card-playlist img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--raio-borda, 8px);
    transition: transform 0.2s ease, outline 0.2s ease;
}

.card-playlist img:hover {
    transform: scale(1.04);
    outline: 4px solid var(--cor-botao, #87bba2);
}

.card-playlist p {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.2;
}

/* FOOTER*/

.rodape {
    width: 100%;

    min-height: 148px;

    box-sizing: border-box;

    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodape-superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape-esquerda {
    display: flex;
    align-items: center;
    gap: 22px;
}

.rodape-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rodape-icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rodape-icones a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-icones img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.rodape-logo {
    margin-top: 20px;
}

.rodape-logo img {
    width: 115px;
    height: auto;
}

.rodape-inferior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape-inferior p {
    margin: 0;
}

.rodape-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rodape-links a {
    text-decoration: none;
}
