.cabecalho img {
    margin: 25px;
    width: 169px;
}

.botoes {
    margin: 20px;
    display: flex;
    gap: 15px;
}

.btn-cadastrar,
.btn-login {
    border: none;
    border-radius: 15px;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-cadastrar {
    padding: 20px 40px;
}

.btn-login {
    padding: 20px 30px;
}

.btn-cadastrar:hover,
.btn-login:hover {
    transform: translateY(-1px);
}


/* conteudo */

.conteudo {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 40px 20px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 50px;
    border-radius: 10px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.campo label {
    color: var(--cor-texto);
    font-size: 1.5em;
    font-weight: 700;
}

.campo input {
    border: none;
    outline: none;
    /* Tira a borda quando vc aperta no input */

    background-color: var(--cor-texto);
    padding: 0 20px;
    width: 100%;

    font-size: 1em;
}

.campo input::placeholder {
    color: #00000050;
    font-style: italic;
}

.campo-senha {
    position: relative;
}

.botao-olho {
    position: absolute;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background: transparent;
    border: none;

    cursor: pointer;
    color: #00000050;
}

.visivel {
    color: var(--laranja-destaque);
}

.icone-olho-fechado {
    display: none;
}

.botao-olho.visivel .icone-olho-aberto {
    display: none;
}

.botao-olho.visivel .icone-olho-fechado {
    display: flex;
}


.redefinir {
    display: flex;
    margin-top: -30px;
    gap: 10px;
}

.redefinir>span {
    font-weight: 700;
    color: var(--cinza-detalhes);
}

.redefinir>a:hover {
    color: var(--cor-botao);
    cursor: pointer;
}

/* BOTÃO ENVIAR CADASTRO */

#btn-enviar-cadastro {
    border-radius: 30px;
    border: none;
    padding: 20px 200px;

    background-color: var(--cinza-detalhes);
    color: var(--cor-fundo);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    transition: transform 0.2s;
}

#btn-enviar-cadastro:hover {
    background-color: var(--cor-botao);
    cursor: pointer;

    transform: translateY(-3px);
}

#erro-senha {
    margin-top: -40px;
    color: red;
    font-size: 1em;
}


@media (max-width: 1024px) {
    .cabecalho .divisor {
        display: none;
    }

    .cabecalho img {
        margin: 20px;
        width: 150px;
    }
    

    .cabecalho-direita {
        display: none;
    }

    .cabecalho {
        position: relative;
        height: auto;
        min-height: 10vh;
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .cabecalho-esquerda {
        width: 100%;
        flex-wrap: wrap;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 50px;
    }

    .cadastro {
        gap: 30px;
    } 

    .navegacao {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;

        max-height: 0; 
        overflow: hidden;
        opacity: 0;

        width: 100%;
        padding: 0 50px;
        background-color: var(--cor-fundo);

        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

    .navegacao.ativo {
        max-height: min-content;
        opacity: 1;
        gap: 20px;
        padding: 20px 0px;  
    }


    .redefinir {
        margin-top: -20px;
    }

    #erro-senha {
        margin-top: -20px;
    }
}


@media (max-width: 768px) {
    .cabecalho img {
        width: 130px;
    }


    .botao-menu {
        top: 35px;
    }   
}